﻿@model Dispel.Models.Usuario
@{
    ViewBag.Title = "Login";
    string local = Url.Action("PasswordRecouver", "Authentication");
    string contexto = Url.Action("Login", "Authentication");
}

<div class="bg-body">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <hr />
                <p class="fs-2 fw-lighter bg-light">Recuperar Senha</p>
                <hr />
                <a href="http://@ViewBag.LinkAccess"> Clique aqui para digitar uma nova senha. </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {@Scripts.Render("~/bundles/jqueryval")}